
body{
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(176, 151, 115);
    color: rgb(243, 202, 114)
}


.top-portion{
    background: rgb(45, 43, 39);
    padding: 0 75px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-links{
    display: flex;
    gap: 15px;
    font-size: small;
    list-style: none;
}

.header-links a{
    text-decoration: none;
    color: rgb(243, 202, 114);
}

.logo{
    font-weight:bold;
}

.main-block{
    padding: 50px 0;
    margin: 0;
    display: flex;
    gap: 50px;
    justify-content: space-between;
}

.main-block img{
    width:300px;
    height: auto;
}

.text-container p, .text-container a{
    font-size: small;
    color: rgb(193, 168, 115);
}

.text-container a{
    text-decoration: none;
    font-weight: bold;
    background-color: rgb(101, 88, 66);
    padding: 10px;
    cursor: pointer;
    border-radius: 25px;
}
.second-portion{
    text-align: center;
}

.title{
    font-size: 32px;
    font-weight: 800;
    margin-bottom:30px ;
}

.image-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 75px;
}

.image-container img{
    width:200px;
    height: auto;
    object-fit: cover;
}